<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Subject List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div layout:fragment="content">
        <h1>Список предметов</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Название предмета</th>
            </tr>
            </thead>
            <tbody>
            <!-- Добавляем строки для каждого поля перечисления -->
            <tr th:each="subject, i : ${T(com.example.onlineschoolproject.model.Subject).values()}">
                <td th:text="${subject.subjectTextDisplay}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>